<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">Income</a>
    </div>

    <!--<div class="collapse navbar-collapse">-->
    <div class="navbar-default">

      <ul class="nav navbar-nav">
        <li><a>Итоги</a></li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Справочники<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="directories/currencies">Валюты</a></li>
            <li><a routerLink="directories/categories">Категории</a></li>
            <li><a href="#">Счета</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Пользователь</a></li>
        <li><a href="#">Вход</a></li>
        <li><a href="#">Выход</a></li>
      </ul>

    </div>

  </div>
</nav>
