<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand">Income</a>
    </div>

    <!--<div class="collapse navbar-collapse">-->
    <div class="navbar-default">

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="">
            <span class="glyphicon glyphicon-home"></span> На главную
          </a>
        </li>
        <li *ngIf="login">
          <a routerLink="summaries">
            <span class="glyphicon glyphicon-credit-card"></span> Итоги
          </a>
        </li>
        <li *ngIf="login" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">
            <span class="glyphicon glyphicon-book"></span> Справочники <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/directories/currencies">
                <span class="glyphicon glyphicon-usd"></span> Валюты
              </a>
            </li>
            <li>
              <a routerLink="/directories/categories">
                <span class="glyphicon glyphicon-list"></span> Категории
              </a>
            </li>
            <li>
              <a routerLink="/directories/accounts">
                <span class="glyphicon glyphicon-piggy-bank"></span> Счета
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="login"><a>
          <span class="glyphicon glyphicon-user"></span> {{login}}
        </a></li>
        <li *ngIf="!login"><a routerLink="/login">
          <span class="glyphicon glyphicon-log-in"></span> Вход
        </a></li>
        <li *ngIf="login"><a style="cursor: pointer" (click)="doOnBtLogoutClick()">
          <span class="glyphicon glyphicon-log-out"></span> Выход
        </a></li>
      </ul>

    </div>

  </div>
</nav>
