<div class="col-sm-8">

  <button class="btn btn-primary" (click)="doOnBtAddClick()">
    <span class="glyphicon glyphicon-plus"></span> Добавить
  </button>

  <button class="btn btn-primary" (click)="doOnBtRefreshClick()">
    <span class="glyphicon glyphicon-refresh"></span> Обновить
  </button>

  <hr>

  <table class="table">
    <tr>
      <th>#</th>
      <th>Сортировка</th>
      <th>Наименование</th>
    </tr>
    <tr *ngFor="let category of categories" [routerLink]="category.id">
      <td>{{category.id}}</td>
      <td>{{category.sort}}</td>
      <td>{{category.title}}</td>
    </tr>
  </table>
</div>

<div class="col-sm-4">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
