<table class="table">
  <tr>
    <th>#</th>
    <td>{{operation.id}}</td>
  </tr>
  <tr>
    <th>Наименование счета</th>
    <td>{{operation.accountTitle}}</td>
  </tr>
  <tr>
    <th>Наименование категории</th>
    <td>{{operation.categoryTitle}}</td>
  </tr>
  <tr>
    <th>День</th>
    <td>{{operation.day | date:'dd.MM.yyyy'}}</td>
  </tr>
  <tr>
    <th>Сумма</th>
    <td>{{operation.amount | number:numberFormat}}</td>
  </tr>
  <tr>
    <th>Примечание</th>
    <td>{{operation.note}}</td>
  </tr>
</table>

<button class="btn btn-primary" type="button" (click)="doOnBtEditClick()">
  <span class="glyphicon glyphicon-pencil"></span> Редактировать
</button>

<button class="btn btn-danger" type="button" (click)="doOnBtDeleteClick()">
  <span class="glyphicon glyphicon-remove"></span> Удалить
</button>
