<div class="row">

  <div class="col-xs-8">
    <button class="btn btn-primary" (click)="doOnBtAddClick()">Добавить</button>
    <button class="btn btn-primary" (click)="doOnBtRefreshClick()">Обновить</button>

    <hr>

    <table class="table">
      <tr>
        <th>#</th>
        <th>Код валюты</th>
        <th>Наименование валюты</th>
        <th>Сортировка</th>
        <th>Наименование</th>
      </tr>
      <tr *ngFor="let account of accounts" [routerLink]="account.id">
        <td>{{account.id}}</td>
        <td>{{account.currencyCode}}</td>
        <td>{{account.currencyTitle}}</td>
        <td>{{account.sort}}</td>
        <td>{{account.title}}</td>
      </tr>
    </table>
  </div>

  <div class="col-xs-4">
    <router-outlet></router-outlet>
  </div>

</div>
